.idea/
__pycache__/
venv/
modified_corpus/
#ptgnn/
ptgnn/authentication.json
ptgnn/azureinfo.json
*.pyc
experiment.py
retrieveLogsExperimental.py
results/result.json
test.py
*.proto
*.dot