.idea/
__pycache__/
venv/
modified_corpus/
azure/ptgnn/authentication.json
azure/ptgnn/azureinfo.json
*.pyc
experiment.py
retrieveLogsExperimental.py
results/result.json
test.py
*.proto
*.dot