azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage==0.36.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
docopt==0.6.2
dpu-utils==0.2.17
future==0.18.2
idna==2.10
jellyfish==0.8.2
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
Pillow==7.2.0
protobuf==3.12.2
ptgnn[aml]==0.8.2
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
sentencepiece==0.1.91
SetSimilaritySearch==0.1.7
six==1.15.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.1+cpu
--find-links https://pytorch-geometric.com/whl/torch-1.5.0.html
torch-scatter==2.0.4+cpu
torchvision==0.6.1+cpu
tqdm==4.47.0
typing-extensions==3.7.4.2
urllib3==1.25.9
azureml~=0.2.7
argparse~=1.4.0
youtokentome~=1.0.6
nltk~=3.5
pandas~=1.0.5